<%- include("fragments/body") -%>
    <main class="career container">
        <div class="cover"></div>
        <h1 class="header">CARIERA</h1>
    </main>
    <section class="employment-section">
        <div class="requirements">
            <div class="first-side">
                <div class="requirement apply">
                    <div class="heading">
                        <h3 class="header">Cum sa aplici</h3>
                    </div>
                    <ul class="criterias">
                        <li>Ne poti trimite un mail cu detalii despre tine.</li>
                        <li>Poti suna la numarul de telefon afisat mai jos.</li>
                        <li>Pentru sanse de angajare mai mari, foloseste un CV bine pus la punct.</li>
                    </ul>
                </div>
                <div class="requirement faq">
                    <div class="heading">
                        <h3 class="header">Intrebari frecvente</h3>
                    </div>
                    <div class="questions">
                        <div class="question">
                            <div class="question-title">
                                <h1 class="header">Care va fi salariul meu?</h1>
                                <i class="fa-solid fa-angle-down"></i>
                            </div>
                            <p class="question-description">Salaiul este negociabil. Acesta difera in functie de calificarile pe care le detii si de contributia ta pentru firma.</p>
                        </div>
                        <div class="question">
                            <div class="question-title">
                                <h1 class="header">Unde se va tine interviul?</h1>                       
                                <i class="fa-solid fa-angle-down"></i>
                            </div>
                            <p class="question-description">Interviul se va tine la adresa de mai jos. Pentru detalii aditionale poti contacta firma, sunand la numarul de telefon de mai jos.</p>
                        </div>
                    </div>
                </div>
                <div class="requirement cv">
                    <div class="heading">
                        <h3 class="header">CV</h3>
                    </div>
                    <p>Trimite-ne CV-ul tau si arata-ne de ce ar trebui sa faci parte din echipa noastra!</p>
                    <a class="contact-link" href="mailto:marius.scarlat14@yahoo.com?subject=subject&cc=cc">marius.scarlat14@yahoo.com</a>
                    
                </div>
            </div>
            <div class="second-side">
                <div class="job">
                    <div class="requests">
                        <div class="request">
                            <h3>Job:</h3>
                            <h2>Instalator</h2>
                        </div>
                        <div class="request">
                            <h3>Salariu:</h3>
                            <h2>Negociabil</h2>
                        </div>
                        <div class="request">
                            <h3>Program de lucru:</h3>
                            <h2>Full Time</h2>
                        </div>
                    </div>
                </div>
                <div class="more-about">
                    <div class="sections">
                        <div class="section selected">
                            <h1 class="header">Descrierea jobului</h1>
                        </div>
                        <div class="section">
                            <h1 class="header">Experienta</h1>
                        </div>
                        <div class="section">
                            <h1 class="header">Calificari</h1>
                        </div>
                    </div>
                    <div class="details">
                        <div class="first-section selected">
                            <h1 class="title">In ce consta jobul</h1>
                            <p>Vei face parte din echipa noastra de instalatori. Vei ajuta la saparea de santuri si te vei ocupa cu instalearea sistemelor.</p>
                            <p>Esti responsabil pentru munca pe care o exerciti.</p>
                            <p>Activitatea se va desfasura in sibiu, dar exista posibilitatea de proiecte care necesita deplasarea in alte localitati.</p>
                        </div>
                        <div class="second-section">
                            <h1 class="title">Experienta necesara</h1>
                            <p>Pentru a face parte din echipa noastra, ai nevoie sa cunosti bazele si sa fii un angajat dispus sa colaboreze cu ceilalti.</p>
                            <p>Certificate care atesta calificarea unuia pot creste sansele de a fi angajat.</p>
                        </div>
                        <div class="third-section">
                            <h1 class="title">Ce ai nevoie sa cunosti</h1>
                            <p>Este important sa detii permisul auto si sa cunsosti a lucra cu instalatii de toate felurile.</p>
                            <p>Calificarile pot fi demonstrate prin certificate sau scrisori de recomandare.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="/scripts/questions-script.js"></script>
    <script src="/scripts/job-menu-script.js"></script>
<%- include("fragments/footer") -%>