<%- include("fragments/body",{title}) -%>
    <main class="main container">
        <div class="text">
            <h1 class="header">Echipa profesionista de instalatii</h1>
            <p class="paragraph">Ne ocupam cu instalatii sanitare, termice, instalatii pentru ventilare si canalizare</p>
            <!-- <div class="buttons">
                <a href="/log-in" class="btn log-in">Log In</a>
                <a href="/sign-up" class="btn sign-up">Sign Up</a>
            </div> -->
        </div>
        <div class="more">
            <a href="#traits" class="fa-solid fa-angle-down"></a>
        </div>
    </main>
    <div class="traits" id="traits">
        <div class="trait">
            <div class="title-section">
                <h1 class="title">Instalatii</h1>
                <img class="icon" src="/assets/pipe.png" alt="pipe">
            </div>
            <p class="content">Executam instalatii industriale, hidranti, sprinklere. De asemenea, ne ocupam si cu instalatii pentru incalzirea in pardoseala.</p>
        </div>
        <!-- <div class="trait">
            <div class="title-section">
                <h1 class="title">Instalatii</h1>
                <img class="icon" src="/assets/wrench.png" alt="pipe">
            </div>
            <p class="content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut minus beatae a nobis perspiciatis debitis pariatur aliquid tempore nostrum possimus corporis, ipsum nihil quis, numquam voluptatibus veniam itaque vero natus!</p>
        </div>
        <div class="trait">
            <div class="title-section">
                <h1 class="title">Instalatii</h1>
                <img class="icon" src="https://www.freeiconspng.com/thumbs/brain-icon-png/brain-2.png" alt="pipe">
            </div>
            <p class="content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut minus beatae a nobis perspiciatis debitis pariatur aliquid tempore nostrum possimus corporis, ipsum nihil quis, numquam voluptatibus veniam itaque vero natus!</p>
        </div> -->
    </div>

    <!-- SCRIPTS -->
    <script src="/scripts/arrow-script.js"></script>
<%- include("fragments/footer") -%>