<footer class="footer">
    <div class="footer-header">
        <div class="contact">
            <div class="element">
                <i class="fa-solid fa-location-crosshairs"></i>
                <div class="text">
                    <h3 class="detail">Str.Margaretelor, 55</h3>
                    <h3 class="detail">Sibiu, 557275</h3>
                </div>
            </div>
            <div class="element">
                <i class="fa-solid fa-phone"></i>
                <div class="text">
                    <h3 class="detail redirect">Contacteaza-ne la:</h3>
                    <h3 class="detail"><a href="tel:0746949826">0746 949 826</a></h3>
                </div>
            </div>
            <div class="element">
                <i class="fa-solid fa-envelope"></i>
                <div class="text">
                    <h3 class="detail redirect">Sau poti trimite un mail:</h3>
                    <h3 class="detail">scminstalcomp@gmail.com</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="details">
        <!-- <div class="links">
            <h3 class="header">Mai multe</h3>
            <a href="/cariera" class="link">Cariera</a>      
        </div> -->
        <h3 class="euid">Identificator unic la nivel european (EUID): ROONRC.J32/1677/2022</h3>
    </div>
</footer>
</body>
</html>